<div class="row" style="background-color: #E8F9FB;display: flex;gap:20px;justify-content: space-evenly;padding-top: 12px;padding-bottom: 12px;overflow: hidden;white-space: nowrap;">
    <div class="col">
        <span class="marquee">Bringing Your Vision to Life</span>
    </div>
    <div class="col">
        <span class="marquee">Bringing Your Vision to Life</span>
    </div>
    <div class="col">
        <span class="marquee">Bringing Your Vision to Life</span>
    </div>
    <div class="col">
        <span class="marquee">Bringing Your Vision to Life</span>
    </div>
    <div class="col">
        <span class="marquee">Bringing Your Vision to Life</span>
    </div>
</div>