<app-header></app-header>
<div class="navbar">
  <div class="navbar-content">
    <div class="nav-section">
      <div class="title">STYLE WITH BHARATH</div>
      <div class="divider"></div>
    </div>
    <div class="nav-links">
      <div class="nav-link">
        <a href="#home" (click)="onLinkClick('home')" class="link" style="cursor: pointer;"
          [ngClass]="{ 'active': isHomeActive }">Home</a>
        <div class="divider"></div>
      </div>
      <div class="nav-link">
        <a href="#contact" (click)="onLinkClick('contact')" [ngClass]="{ 'active': contactActive }" class="link"
          style="cursor: pointer;">Contact</a>
      </div>
    </div>
    <div class="nav-contact">style&#64;gmail.com</div>
  </div>
</div>
<div class="adithya-home" id="home">
  <div class="adithya-home-text">
    <img class="adi-img" src="../../images/adithya-home-text.svg" alt="">
  </div>
</div>
<div class="collections">

  <div class="collection-text">
    <span class="collection-text-span">Collections</span>

  </div>
  <div class="row collect" style="display: flex;justify-content: center;gap: 30px;margin-top: 15px;">
    <div class="col">
      <img (click)="openImage(0)" style="border-radius: 10px;cursor: pointer;" src="../assets/DSC06549 1.svg" alt="">
    </div>
    <div class="col">
      <img (click)="openImage(1)" style="border-radius: 10px;cursor: pointer;" src="../assets/DSC06590 1.svg" alt="">
    </div>
    <div class="col">
      <img (click)="openImage(2)" style="border-radius: 10px;cursor: pointer;" src="../assets/DSC06760 1.svg" alt="">
    </div>
  </div>
  <div class="row collect" style="display: flex;justify-content: center;gap: 30px;margin-top: 20px;">
    <div class="col">
      <img (click)="openImage(3)" style="border-radius: 10px;cursor: pointer;" src="../assets/DSC06601 1.svg" alt="">
    </div>
    <div class="col">
      <img (click)="openImage(4)" style="border-radius: 10px;cursor: pointer;" src="../assets/DSC06448 1.svg" alt="">
    </div>
    <div class="col">
      <img (click)="openImage(5)" style="border-radius: 10px;cursor: pointer;" src="../assets/DSC06667 1.svg" alt="">
    </div>
  </div>
  <div class="row collect" style="display: flex;justify-content: center;gap: 30px;margin-top: 20px;">
    <div class="col">
      <img (click)="openImage(6)" style="border-radius: 10px;cursor: pointer;" src="../assets/DSC06546 1.svg" alt="">
    </div>
    <div class="col">
      <img (click)="openImage(7)" style="border-radius: 10px;cursor: pointer;" src="../assets/DSC06724 1.svg" alt="">
    </div>
    <div class="col">
      <img (click)="openImage(8)" style="border-radius: 10px;cursor: pointer;" src="../assets/DSC06501 1.svg" alt="">
    </div>
  </div>
</div>
<div *ngIf="isImageViewerOpen2" class="image-viewer" (click)="closeImageViewer2()">
  <div class="controls">
    <button (click)="prevImage2($event)">Previous</button>
    <button (click)="nextImage2($event)">Next</button>
  </div>
  <img [src]="currentImage2" [style.borderRadius]="'10px'" alt="" />
</div>
<div class="excellence">
</div>
<div class="more-collections">
  <div class="more-text">
    More Collections
  </div>
</div>
<div class="more-text-2">
  &#64;stylewithbharath
</div>
<div class="row more-collect" style="display: flex; justify-content: center; gap: 43px; margin-top: 60px;margin-bottom: 70px;">
  <div class="col" *ngFor="let img of images; let i = index">
    <img style="cursor: pointer;" [src]="img.src" [style.filter]="'grayscale(100%)'" [style.borderRadius]="'10px'"
      alt="" (click)="openImageViewer(i)" />
  </div>
</div>
<div *ngIf="isImageViewerOpen" class="image-viewer" (click)="closeImageViewer()">
  <div class="controls">
    <button (click)="prevImage($event)">Previous</button>
    <button (click)="nextImage($event)">Next</button>
  </div>
  <img [src]="currentImage" [style.borderRadius]="'10px'" alt="" />
</div>
<div id="contact">
  <app-footer></app-footer>
</div>





<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
  rel="stylesheet">