<div class="footer">
    <div class="row"
        style="background-color: #ffffffea;display: flex;gap:20px;justify-content: space-evenly;padding-top: 12px;padding-bottom: 12px;overflow: hidden;white-space: nowrap;position: relative;top: 8px;">
        <div class="col">
            <span class="marquee">Bringing Your Vision to Life</span>
        </div>
        <div class="col">
            <span class="marquee">Bringing Your Vision to Life</span>
        </div>
        <div class="col">
            <span class="marquee">Bringing Your Vision to Life</span>
        </div>
        <div class="col">
            <span class="marquee">Bringing Your Vision to Life</span>
        </div>
        <div class="col">
            <span class="marquee">Bringing Your Vision to Life</span>
        </div>
    </div>

    <div class="row" style="display: flex;justify-content: space-around;margin-top: 55px;padding-bottom: 35px;">
        <div class="col">
            <div
                style="width: 50%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 22px; display: inline-flex;position: relative;left:30px;">
                <div
                    style="align-self: stretch; color: black; font-size: 17px; font-family: Plus Jakarta Sans; font-weight: 600; text-transform: capitalize; line-height: 24px; letter-spacing: 1px; word-wrap: break-word">
                    Adithya Bharath</div>
                <div
                    style="align-self: stretch; color: #333333; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 22.10px; word-wrap: break-word">
                    From runway to editorial, each image tells a story of poise, elegance, and artistry. Discover a
                    curated collection of moments that capture Bharath’s range and unique style.</div>
                <div class="row" style="display: flex;gap: 10px;">
                    <div class="col-1" style="cursor: pointer; " (click)="navigate()">
                        <img  src="../../../../assets/inst.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div
                style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex;position: relative;right:30px;">
                <div
                    style="align-self: stretch; color: black; font-size: 18px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 18px; word-wrap: break-word">
                    Let’s Work Together</div>
                <div
                    style="width: 388px; color: #333333; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 24px; word-wrap: break-word">
                    Ready to make an impact? Get in touch to bring your creative vision to the next level with Adithya
                </div>
                <div style="justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                    <div
                        style="width: 25px;position: relative; bottom: 9px;">
                        <div style="width: 12px; height: 12px; left: 7px; top: 7px; position: absolute">
                            <div style="width: 10px; height: 10.91px; left: 1px; top: 1px; position: absolute">
                                <div
                                    style="width: 0.42px; height: 0.33px; left: 5.04px; top: 10.57px; position: absolute">
                                </div>
                                <div>
                                    <img src="../../../../assets/whtsap.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="color: #333333; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 24px; word-wrap: break-word">
                        97 46 40 74 81</div>


                </div>
                <div class="email" style="    display: flex;gap: 25px;">
                    <input placeholder="Enter your email.." class="email-input" type="text">
                    <div
                        style="padding-left: 30px; padding-right: 30px; background: #54D9E1; border-radius: 3px; justify-content: center; align-items: center;cursor: pointer;">
                        <div
                            style="text-align: center; color: white; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 45px; word-wrap: break-word;">
                            Submit</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>